.navbar {
  height: 60px;
  color: white;
  background: #3d5a6c;
  padding-left: 5%;
  padding-right: 5%;
}
.navbar h3 {
  color: white;
}
.nav-item a {
  cursor: pointer;
}
.fa-sign-in-alt {
  margin-right: 0.5rem;
}

.nav-item a:hover {
  color: rgb(106, 255, 230);
  cursor: pointer;
}
#parent {
  background: ghostwhite;
  min-height: calc(100vh - 40px);
}

.banner {
  padding: 10%;
  width: 50%;
  margin-left: 5%;
  text-align: center;
}

#heading {
  font-size: 2.5rem;
  font-weight: bold;
}

#sub-heading {
  font-size: 1.5rem;
}

.row {
  margin: 0;
  padding: 0;
}
.con {
  margin: 0 auto;
  max-width: 1500px;
}

.form-div {
  margin-left: 3%;
  margin-top: 2%;
  margin-bottom: 2%;
  width: 35%;
  padding: 2% 2% 2% 2%;
  background: white;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h5 {
  text-align: center;
}

hr {
  border-color: #63a088;
  border-width: 2px;
  margin-top: 2%;
  margin-bottom: 0;
}

label {
  font-size: 13px;
  padding: 0%;
  margin-bottom: 0;
}

.name-box {
  width: 100%;
}

.part-1 {
  width: 47.5%;
}

.part-2 {
  margin-left: 5% !important;
  width: 47.5%;
}
.row .code {
  margin: inherit !important;

  display: inline-block;
}
.code {
  width: 35% !important;
}

.mobile-input {
  display: inline-block;
}
.mobile-input {
  width: 62% !important;
  margin-left: 2.5%;
}

select {
  width: 100%;
  height: 31px;
  border-color: #63a088;
  border-width: 2px;
  margin-right: 0%;
}

.mobile-input-box {
  margin-left: 2%;
  width: 65.5%;
  position: relative;
  overflow: hidden;
}

.mobile-input-box input {
  position: relative;
  box-shadow: none;
  padding-left: 50px;
}

.mobile-input-box label {
  position: absolute;
  left: 0;
  height: 34px;
  margin-top: 2px;
  margin-left: 2px;
  padding: 0px 5px;
  padding-top: 7px;
  border-radius: 0.5rem;
  line-height: 20px;
  font-size: 15px;
  color: black;
  top: 0;
  width: 20px;
  font-weight: 200;
}

.country-select {
  width: 25%;
}

input {
  border-color: #63a088;
  border-width: 2px;
}

button {
  cursor: pointer;
}

.box-alert {
  color: red;
  font-weight: bold;
  height: 13px;
  line-height: 0.75rem;
  font-size: 0.75rem;
  margin-top: 1px;
  position: absolute;
}

.custom-btn {
  margin-top: 4%;
  background-color: #3e8989;
  border-color: #3e8989;
  color: white;
  border-radius: 17px;
}

.loader {
  margin-left: 45%;
}

.form-group {
  margin-top: 5px;
  margin-bottom: 0;
  padding: 0;
  width: 100%;
}

.part-1,
.part-2 {
  margin: inherit;
  display: inline-block;
}

.form-control:focus {
  border-color: aquamarine;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(102, 175, 233, 0.6);
}

#footer {
  text-align: center;
  background: rgb(5, 92, 107);
  height: 40px;
  padding: 0.5rem;
  color: white;
}

.mobile-nav{
  display: none;
}

@media screen and (max-width: 573px) {
  .mobile-nav{
    display: block;
  }
  .collapse .navbar-collapse{
    display:  none;
  }
  .name-box {
    width: 100%;
  }
  .code {
    width: 25%;
    margin-left: 6.5%;
  }
  .mobile-input {
    width: 60%;
    margin-left: 2.5%;
  }
}

@media screen and (max-width: 767px) {
   
  .banner {
    display: none;
  }
  .form-div {
    width: 80%;
    margin-left: 10%;
    margin-top: 10%;
  }
}

@media screen and (max-width: 768px)  {
   
  .banner {
    margin-top: 5%;
  }
  .form-div {
    margin-top: 5%;
  }
}

 