<div class="wrapper">
  <div class="btn-container">
    <button (click)="onClickSentReq()" class="sent_button">
      Sent Requests
    </button>

    <button (click)="onClickReceivedReq()" class="rec_button">
      Received Requests
    </button>
  </div>
  <hr />

  <div class="user-list__container">
    <!--users list-->
    <div class="user-list" *ngIf="findFriends">
      <div class="fr-list__heading">Friends list</div>
      <hr />
      <div *ngFor="let friend of allFriendsList">
        <div class="user-details" *ngIf="friend.friendId !== userId">
          <div class="first-char__circle">
            {{ friend?.friendName.toUpperCase().charAt(0) }}
          </div>
          <div class="user-name">
            <p id="name" (click)="gotoFriendList(friend)">
              {{ friend?.friendName }}
            </p>
          </div>
          <button
            class="clk-button add-friend__btn"
            (click)="unfriendUser(friend)"
          >
            Unfriend
          </button>
        </div>
      </div>
    </div>
    <!--users list end-->
    <!--users list-->
    <div class="user-list" *ngIf="findFriends">
      <div class="fr-list__heading">Users you may know</div>

      <hr />
      <div *ngFor="let user of allUsersList">
        <div class="user-details" *ngIf="user.userId !== userId">
          <div class="first-char__circle">
            {{ user.firstName.toUpperCase().charAt(0)
            }}{{ user.lastName.toUpperCase().charAt(0) }}
          </div>
          <div class="user-name">{{ user.firstName }} {{ user.lastName }}</div>

          <button
            class="clk-button add-friend__btn"
            (click)="sendFriendRequest(user)"
          >
            Add Friend
          </button>
        </div>
      </div>
    </div>
    <!--users list end-->

    <!--Sent Requests-->
    <div class="user-list" *ngIf="cancelRequest">
      <div class="fr-list__heading">All Sent Requests</div>

      <hr />
      <div *ngFor="let request of allSentRequestsList">
        <div class="user-details">
          <div class="first-char__circle">
            {{ request?.friendName.toUpperCase().charAt(0) }}
          </div>
          <div class="user-name">
            {{ request?.friendName }}
          </div>
          <button
            class="clk-button cancel-friend__req"
            (click)="cancelFriendRequest(request)"
          >
            Cancel
          </button>
        </div>
      </div>
    </div>
    <!--Sent Requests end-->

    <!--Received Requests-->
    <div class="user-list" *ngIf="receivedRequest">
      <div class="fr-list__heading">All Received Requests</div>
      <hr />
      <div *ngFor="let request of allReceivedRequestsList">
        <div class="user-details">
          <div class="first-char__circle">
            {{ request?.friendName.toUpperCase().charAt(0) }}
          </div>
          <div class="user-name">
            {{ request?.friendName }}
          </div>
          <button
            class="clk-button accept-friend__req"
            (click)="acceptFriendRequest(request)"
          >
            Accept
          </button>
          <button
            class="clk-button reject-friend__req"
            (click)="rejectFriendRequest(request)"
          >
            Reject
          </button>
        </div>
      </div>
    </div>
    <!--Received Requests end-->
  </div>
</div>
<footer id="footer">
  Copyright &copy; LetsDo.
</footer>
