.wrapper {
  max-width: 2000px;
  margin: 0 auto;
}

.user-list__container {
  background: ghostwhite;
  min-height: calc(100vh - 40px);
  height: calc(100% - 40px);
  width: 100%;
}

.user-list {
  min-height: 20vh;
  background: white;
  width: 70%;
  margin: 0 15%;
  border-radius: 6px;
  margin-top: 1rem;
  padding: 0.5rem;
  padding-top: 0.2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.user-list hr {
  border: 1px solid #3d5a6c;
  font-size: 0.9rem;
}

.user-details {
  background: #dcf5f2;
  padding: 0.5rem;
  height: 4rem;
  border-radius: 6px;
  margin: 0.5rem 0;
}

.user-details:hover {
  background: rgb(195, 236, 195);
}

.fr-list__heading {
  font-size: 1rem;
  text-align: center;
}

.first-char__circle {
  background: #7b8083;
  height: 3rem;
  width: 3rem;
  padding: 0.2rem;
  color: white;
  font-size: 1.5rem;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
}
.user-name {
  display: inline-block;
  margin: 0 1rem;
}
.clk-button {
  margin: 0.5rem 0;
  width: 10rem;
  height: 2rem;
  float: right;
  color: white;
  border-radius: 17px;
}
.add-friend__btn {
  background: #3d5a6c;
  border: #3d5a6c;
}
.add-friend__btn:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cancel-friend__req {
  background: #e22b2b;
  border: #e22b2b;
}

.cancel-friend__req:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.accept-friend__req,
.reject-friend__req {
  margin: 0.5rem 0.5rem;
}
.reject-friend__req {
  background: #f89b9bde;
  border: #f89b9bde;
}

.reject-friend__req:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.accept-friend__req {
  background: #088364;
  border: #088364;
}

.accept-friend__req:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#name {
  cursor: pointer;
}

.btn-container {
  width: 100%;
}

.sent_button,
.rec_button {
  width: 10rem;
  display: inline-block;
  background: #1db39a;
  border: #1db39a;
  color: white;
  margin: 0.5rem 0.5rem;
  padding: 0.2rem 0.2rem;
  border-radius: 17px;
  outline: none;
  font-size: 0.8rem;
}
.rec_button {
  float: right;
}

.rec_button:hover,
.sent_button:hover {
  background: #04d183;
  border: #04d183;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

hr {
  margin: 0;
  border: 1px solid #93c7e7;
}

#footer {
  text-align: center;
  background: rgb(5, 92, 107);
  height: 40px;
  padding: 0.5rem;
  color: white;
}

@media screen and (max-width: 640px) {
  .user-list__container {
    padding: 0;
  }
  .user-list {
    width: 95%;
    margin: 1rem 2.5%;
    padding: 0.5rem;
  }
  .user-details {
    margin: 0.5rem 0;
    position: relative;
  }
  .first-char__circle {
    background: #7b8083;
    height: 2rem;
    width: 2rem;
    padding: 0.3rem;
    color: white;
    font-size: 1rem;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    margin: 0.5rem 0;
  }
  .user-name {
    font-size: 0.8rem;
  }

  .clk-button {
    width: 5rem;
    height: 1.5rem;
    font-size: 0.8rem;
    display: inline-block;
    float: right;
    color: white;
    border-radius: 17px;
  }
  .accept-friend__req,
  .reject-friend__req {
    position: absolute;
    right: 0.5rem;
  }
  .accept-friend__req {
    top: 0.3rem;
  }
  .reject-friend__req {
    top: 2.1rem;
  }
  .add-friend__btn {
    margin: 0.8rem 0;
    background: #3d5a6c;
    border: #3d5a6c;
  }

  .cancel-friend__req {
    margin: 0.7rem 0;
  }
  .sent_button,
  .rec_button {
    width: 40%;
  }
}
