.user-list__container {
  min-height: calc(100vh - 60px - 40px);
  height: calc(100% - 60px - 40px);
  width: 100%;
  padding-top: 2rem;
}

.user-list {
  min-height: 20vh;
  background: white;
  width: 70%;
  margin: 0 15%;
  border-radius: 6px;
  padding: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.user-list hr {
  border: 1px solid #3d5a6c;
}

.user-details {
  background: #dcf5f2;
  padding: 0.5rem;
  border-radius: 6px;
  margin-bottom: 0.5rem;
}

.user-details:hover {
  background: rgb(195, 236, 195);
}

.fr-list__heading {
  font-size: 1rem;
  text-align: center;
}

.notification-desc {
  display: inline-block;
  margin: 0 0;
  font-size: 0.9rem;
  width: 72%;
}
.delete-noti__btn {
  width: 5rem;
  height: 1.5rem;
  font-size: 0.8rem;
  color: white;
  border-radius: 17px;
  display: inline-block;
  background: #3d5a6c;
  border: #3d5a6c;
  float: right;
  vertical-align: middle;
}
.delete-noti__btn:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cancel-friend__req {
  background: #e22b2b;
  border: #e22b2b;
}

.cancel-friend__req:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.reject-friend__req {
  background: #088364;
  border: #088364;
}

.reject-friend__req:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#footer {
  text-align: center;
  background: rgb(5, 92, 107);
  height: 40px;
  padding: 0.5rem;
  color: white;
}

@media screen and (max-width: 640px) {
  .user-list__container {
    padding: 0;
  }
  .user-list {
    width: 95%;
    margin: 1rem 2.5%;
    padding: 0.5rem;
  }
  .user-details {
    margin: 2rem 0;
  }
  .notification-desc {
    width: 100%;
    font-size: 0.8rem;
    margin: 0;
    text-align: left;
    padding: 0 0.5rem;
    display: block;
  }
  hr {
    margin: 0;
  }
  .delete-noti__btn {
    outline: none;
    float: none;
    margin-top: 0.5rem;
    margin-left: 72%;
  }
}
