<div class="user-list__container">
  <!--Notification start-->
  <div class="user-list">
    <div class="fr-list__heading">Notifications</div>
    <hr />
    <div class="user-details" *ngFor="let notification of allNotifications">
      <div class="notification-desc">
        {{ notification.data }}
      </div>

      <button
        class="delete-noti__btn"
        (click)="deleteNotification(notification.notificationId)"
      >
        Delete
      </button>
    </div>
  </div>
  <!--Notification end-->
</div>
<footer id="footer">
  Copyright &copy; LetsDo.
</footer>
