.user-list__container {
  background: ghostwhite;
  height: 100vh;
  width: 100%;
  padding-top: 2rem;
}

.user-list {
  min-height: 20vh;
  background: white;
  width: 70%;
  margin: 0 15%;
  border-radius: 6px;
  padding: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.user-list hr {
  border: 1px solid #3d5a6c;
}

.user-details {
  min-height: 10vh;
  background: #dcf5f2;
  padding: 0.5rem;
  border-radius: 6px;
  margin-bottom: 0.5rem;
}

.user-details:hover {
  background: rgb(195, 236, 195);
}

.first-char__circle {
  background: #7b8083;
  height: 3rem;
  width: 3rem;
  padding: 0.2rem;
  color: white;
  font-size: 1.5rem;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
}
.notification-desc {
  display: inline-block;
  margin: 0 1rem;
}
.button {
  width: 10rem;
  height: 2rem;
  display: inline-block;
  float: right;
  color: white;
  border-radius: 17px;
  margin: 0.5rem 0.5rem;
}
.delete-noti__btn {
  background: #3d5a6c;
  border: #3d5a6c;
}
.delete-noti__btn:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cancel-friend__req {
  background: #e22b2b;
  border: #e22b2b;
}

.cancel-friend__req:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.reject-friend__req {
  background: #088364;
  border: #088364;
}

.reject-friend__req:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#footer {
  text-align: center;
  background: rgb(5, 92, 107);
  height: 40px;
  padding: 0.5rem;
  color: white;
}

@media screen and (max-width: 640px) {
  .notification-desc {
    font-size: 0.8rem;
    display: block;
  }

  .button {
    width: 5rem;
    height: 1.5rem;
    font-size: 0.8rem;
    color: white;
    border-radius: 17px;
    margin: 0 0.5rem;
    margin-top: 0.5rem;
  }
  .delete-noti__btn {
    background: #3d5a6c;
    border: #3d5a6c;
  }
}
