.list-container__search-box-container,
.list-container__create-btn-container,
.list-container__list-options {
  display: inline-block;
}
.list-container__search-box-container {
  width: 40%;
}

.list-container__search-box {
  width: 60%;
  height: 2rem;
  margin: 0 2rem;
  padding-left: 0.9rem;
  background: #ffffff;
  color: black;
  border: 1px solid #4dd0e1;
  box-shadow: none;
  border-radius: 17px;
  outline: none;
  vertical-align: middle;
}

.list-container__search-box::placeholder {
  font-size: 0.9rem;
}

.list-container {
  padding-bottom: 2rem;
  background: ghostwhite;
  height: calc(100% - 40px);
}

.list-container__create-list__button {
  font-size: 0.9rem;
  display: inline-block;
  background: #1db39a;
  border: #1db39a;
  color: white;
  margin: 0.5rem 1.5rem;
  padding: 0.3rem 1.5rem;
  border-radius: 17px;
  outline: none;
}

.list-container__create-list__button:hover {
  background: #04d183;
  border: #04d183;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.list-container hr {
  margin: 0;
  border: 1px solid #93c7e7;
}

.list-container__list-options {
  margin: 0.5rem 1.5rem;
  padding: 0.3rem 0.5rem;
  display: inline-block;
  float: right;
  cursor: pointer;
}

.list-container__list-type {
  display: inline-block;
  padding: 0;
  margin: 0;
}
#angle-down {
  display: inline-block;
  padding: 0 0.3rem;
}

.list-container__create-list__button,
.list-container__list-options,
#angle-down {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

.list-container__box {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.list-container__lists {
  width: 100%;
  min-height: 100vh;
  padding: 0.5rem 0;
}

.list-container__list {
  min-height: 20vh;
  background: white;
  width: 22.5%;
  margin: 0.8rem 1.25%;
  overflow: hidden;
  /* position: relative; */
  /* display: inline-block; */
  float: left;
  border-radius: 6px;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.list-container__create-list-type {
  cursor: pointer;

  vertical-align: middle;
  display: inline-block;
}

.list-container__create-list-name {
  padding: 0.5rem;
}

.list-container__create-list-options {
  position: relative;
  text-align: right;
  float: right;
  margin: 0;
  padding: 0.5rem 0.5rem;
}

.list-container__create-list-options,
.list-container__create-list-name {
  display: inline-block;
}

.list-select-mode {
  position: absolute;

  right: 0;
  padding: 0;
  text-align: left;
  margin-right: 2.5rem;
}

.list-select-mode_type {
  background: rgb(215, 230, 226);
  border-radius: 4px;
  cursor: pointer;
  padding: 0 0.4rem;
}

.list-select-mode_type:hover {
  background: rgb(162, 216, 238);
}

.select-mode {
  position: absolute;

  right: 0;
  padding: 0;
  text-align: left;
  margin-right: 1.5rem;
}

.select-mode_type {
  background: rgb(215, 230, 226);
  border-radius: 4px;
  cursor: pointer;
  padding: 0 0.4rem;
}

.select-mode_type:hover {
  background: rgb(162, 216, 238);
}

.create-list-box {
  background: #ffffff;
  border: 1px solid #4dd0e1;
  box-shadow: none;
  margin: auto;
  padding: 0 0.5rem;
  width: 95%;
  height: 2rem;
}

.list-container__cancel-list__button,
.list-container__save-list__button {
  display: inline-block;
  color: white;
  margin: 0.5rem;
  padding: 0.1rem 0.8rem;
  border-radius: 17px;
  outline: none;
  float: right;
  font-size: 0.8rem;
}
.list-container__cancel-list__button {
  background: #ff8383;
  border: #05b932;
}
.list-container__save-list__button {
  background: #02caa9;
  border: #02caa9;
}

.list-container__options {
  padding: 0.2rem 0.4rem;
  width: 100%;
  text-align: right;
}
.list-container__options i {
  padding: 0 0.4rem;
}

.fa-plus {
  color: rgb(26, 224, 132);
}
.fa-edit {
  color: rgb(0, 217, 255);
}
.fa-times,
.fa-trash-alt {
  color: rgb(255, 0, 0);
}

#hr {
  border: 1px solid #93c7e7;
  margin: 0 0.2rem;
  margin-bottom: 0.2rem;
}
.list-container__list-name {
  font-size: 0.9rem;

  margin: 0 0.2rem;
  padding: 0 0.2rem;
  border-radius: 4px;
}

.list-container__task {
  background: #ffffff;
  height: 15vh;
  margin: 0.2rem;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.list-container__add-task {
  display: inline-block;
  padding-left: 1rem;
  font-size: 0.9rem;
}

.create-task-box {
  background: #ffffff;
  border: 1px solid #4dd0e1;
  box-shadow: none;
  margin-left: 5%;
  padding: 0 0.5rem;
  width: 90%;
  height: 1.8rem;
}

.dialog-box {
  margin-top: 10rem;
  min-height: 10rem;
  padding: 2rem;
  text-align: center;
}

.btn-wrapper {
  text-align: center;
}

.dialog-box__yes,
.dialog-box__no {
  width: 5rem;
  outline: none;
  color: white;
  margin: 1rem 0.5rem;
  display: inline-block;
  border-radius: 17px;
}
.dialog-box__yes {
  background: #1db39a;
  border: #1db39a;
}

.dialog-box__no {
  background: #ff8383;
  border: #ff8383;
}

.all-tasks__container {
  padding: 0.2rem 0;
  margin: 0.4rem 0.2rem;
  border-radius: 5px;
  background: #ffffff;

  border: 2px solid #93c7e7;
  /* box-shadow: 0 2px 6px 0 rgba(104, 102, 102, 0.2),
    0 4px 18px 0 rgba(92, 90, 90, 0.19); */
}

.task__options {
  width: 100%;
  text-align: right;
}

.task__options i {
  padding: 0 0.4rem;
}

.task-name {
  font-size: 0.8rem;

  margin: 0 0.2rem;
  padding: 0.2rem;
  border-radius: 4px;
}

.list-container__add-sub-task {
  display: inline-block;
  padding-left: 1rem;
  font-size: 0.9rem;
}

.sub-task-container {
  padding: 0.2rem 0;
  margin: 0.4rem 0.2rem;
  border-radius: 5px;
  background: #ffffff;
  border: 2px solid #93c7e7;
}
.sub-task-name {
  padding: 0 0.4rem;
  font-size: 0.8rem;
}

.sub-task__options {
  padding: 0 0.2rem;
  text-align: right;
}

.sub-task__options i {
  padding: 0 0.4rem;
}

.mobile-nav {
  display: none;
  position: fixed;
  z-index: 101;
  top: 0;
  right: 0;
  background: #3d5a6c;
  width: 80%;
  height: 100vh;
}

.mobile-nav__items {
  width: 90%;
  height: 100%;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
}

.mobile-nav__item {
  margin: 0.5rem 0;
}

.mobile-nav a {
  font-size: 1.5rem;
  color: white;
}

.mobile-nav-item {
  padding-right: 1rem;
  margin: 0;
}

.toggle-button {
  width: 2.5rem;
  background: transparent;
  border: none;
  padding-top: 0;
  padding-bottom: 0;
  vertical-align: middle;
  cursor: pointer;
}

.toggle-button:focus {
  outline: none;
}

.toggle-button__bar {
  width: 100%;
  height: 0.2rem;
  background: white;
  display: block;
  margin: 0.4rem 0;
}

.mobile-nav__close-btn {
  overflow: hidden;
  position: relative;
  display: inline-block;
  margin: 0.4rem 0.4rem;
  float: right;
}

.close-mobile-nav {
  cursor: pointer;
  color: white;
  margin: 0.5rem 1rem;
  font-size: 2rem;
}

#footer {
  text-align: center;
  background: rgb(5, 92, 107);
  height: 40px;
  padding: 0.5rem;
  color: white;
}

@media screen and (max-width: 1024px) {
  .list-container__list {
    width: 30%;
    margin: 1rem 1.6%;
  }
}

@media screen and (max-width: 964px) {
  .list-container__search-box-container {
    width: 50%;
  }
  #brand,
  #nav-bar {
    display: none;
  }

  .navbar-brand .brand,
  .mb-search,
  .mobile-search-box,
  .toggle-button {
    display: inline-block;
  }

  .navbar-brand .brand {
    float: left;
  }

  .list-container__list {
    width: 90%;
    margin: 0.8rem 5%;
  }
  .navbar-expand-sm .navbar-collapse {
    display: none !important;
  }

  .list-container__list {
    width: 45%;
    margin: 1rem 2.5%;
  }
}

@media screen and (max-width: 640px) {
  .list-container__search-box-container {
    width: 40%;
    margin: 0.2rem 0.4rem;
  }
  .list-container__search-box {
    width: 100%;
    margin: 0;
  }

  .list-container__create-list__button {
    font-size: 0.8rem;

    margin: 0.5rem 0;
    padding: 0.3rem 1rem;
  }
  .list-container__list-options {
    margin: 0.5rem 0;
    padding: 0.3rem 0.5rem;
    font-size: 0.8rem;
  }
  .list-container__list {
    width: 90%;
    margin: 0.8rem 5%;
  }

  .list-container__list {
    width: 90%;
    margin: 1rem 5%;
  }
}
