<div id="parent">
  <nav class="navbar navbar-expand-sm">
    <a class="navbar-brand" href="" (click)="onClickOnLink($event)"
      ><h3>LetsDo</h3></a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navItems"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navItems">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item ml-auto">
          <a
            class="nav-link"
            (click)="onClick()"
            #closeModal
            *ngIf="!signupSuccess"
            data-toggle="modal"
            data-target="#exampleModalCenter"
            >LOGIN</a
          >
        </li>
        <li class="nav-item ml-auto">
          <a
            class="nav-link"
            (click)="onClick()"
            #closeModal
            *ngIf="!signupSuccess"
            data-toggle="modal"
            data-target="#exampleModalCenter"
            >SIGNUP</a
          >
        </li>
      </ul>
    </div>
  </nav>
  <div class="row">
    <div class="form-div">
      <div class="heading">
        <h5>
          Reset Password
          <hr />
        </h5>
      </div>
      <form
        #resetPasswordForm="ngForm"
        (ngSubmit)="resetUserPassword(resetPasswordForm)"
      >
        <div class="form-group">
          <label for="email">Password</label>
          <input
            type="password"
            id="inputPassword"
            class="form-control form-control-sm"
            [(ngModel)]="password"
            placeholder="Password"
            name="password"
            required
          />
        </div>

        <div class="form-group">
          <label for="Password">Confirm Password</label>
          <input
            type="password"
            id="inputConfirmPassword"
            class="form-control form-control-sm"
            [(ngModel)]="confirm"
            placeholder="Confirm Password"
            name="confirmPassword"
            required
          />
        </div>
        <div class="form-group">
          <button
            class="btn  custom-btn btn-sm"
            *ngIf="!isProcessing"
            type="submit"
          >
            Reset Password
          </button>
          <div
            class="spinner-border loader text-danger"
            *ngIf="isProcessing"
            role="status"
          >
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<footer id="footer">
  Copyright &copy; LetsDo.
</footer>
