.navbar {
  height: 60px;
  color: white;
  background: #3d5a6c;
  padding-left: 5%;
  padding-right: 5%;
}
.navbar h3 {
  color: white;
}
.nav-item a {
  cursor: pointer;
}

#parent {
  background: ghostwhite;
  min-height: calc(100vh - 40px);
  max-width: 2000px;
  margin: 0 auto;
}

.row {
  margin: 0;
  padding: 0;
}

.form-div {
  margin: 5% auto;
  width: 40%;
  padding: 2% 2% 2% 2%;
  background: white;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h5 {
  text-align: center;
}

hr {
  border-color: #63a088;
  border-width: 2px;
  margin-top: 2%;
  margin-bottom: 0;
}

label {
  font-size: 13px;
  padding: 0%;
  margin-bottom: 0;
}

.name-box {
  width: 100%;
}

.forgot-password {
  float: right;
  margin: 0.5rem 0;
  color: #63a088;
  text-decoration: none;
  font-size: 0.9rem;
  cursor: pointer;
}

.part-1 {
  width: 47.5%;
}

.part-2 {
  margin-left: 5% !important;
  width: 47.5%;
}

input {
  border-color: #63a088;
  border-width: 2px;
}

button {
  cursor: pointer;
}

.custom-btn {
  margin-top: 4%;
  background-color: #3e8989;
  border-color: #3e8989;
  color: white;
  border-radius: 17px;
}

.loader {
  margin-left: 45%;
}

.form-group {
  margin-top: 5px;
  margin-bottom: 0;
  padding: 0;
  width: 100%;
}

.part-1,
.part-2 {
  margin: inherit;
  display: inline-block;
}

.form-control:focus {
  border-color: aquamarine;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(102, 175, 233, 0.6);
}

.mobile-nav {
  display: none;
}

#footer {
  text-align: center;
  background: rgb(5, 92, 107);
  height: 40px;
  padding: 0.5rem;
  color: white;
}
@media screen and (max-width: 573px) {
  .mobile-nav {
    display: block;
  }
  .collapse .navbar-collapse {
    display: none;
  }
}
@media screen and (min-height: 663px) {
  .name-box {
    width: 100%;
  }
  .code {
    width: 25%;
    margin-left: 6.5%;
  }
  .mobile-input {
    width: 60%;
    margin-left: 2.5%;
  }
}

@media screen and (max-width: 767px) {
  .form-div {
    width: 90%;
    margin-left: 5%;
    margin-top: 10%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .form-div {
    width: 55%;
    margin: 10% auto;
  }
}

@media screen and (max-width: 1025px) {
  .form-div {
    margin-top: 10%;
  }
}
