<div id="parent">
  <nav class="navbar navbar-expand-sm">
    <a class="navbar-brand" href="" (click)="onClickOnLogo($event)"
      ><h3>LetsDo</h3></a
    >

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item ml-auto">
          <a class="nav-link" (click)="gotoSignUp()">SIGNUP</a>
        </li>
      </ul>
    </div>
    <div class="mobile-nav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item ml-auto">
          <a class="nav-link" (click)="gotoSignUp()"> SIGNUP</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="row">
    <div class="form-div">
      <div class="heading">
        <h5>
          Login To Continue
          <hr />
        </h5>
      </div>
      <form #signUpForm="ngForm" (ngSubmit)="logInUser()">
        <div class="form-group">
          <label for="email">Email or Username</label>
          <input
            type="email"
            id="inputEmail"
            class="form-control form-control-sm"
            [(ngModel)]="email"
            placeholder="Username (6 chars or more)"
            name="email"
            required
          />
        </div>

        <div class="form-group">
          <label for="Password">Password</label>
          <input
            type="password"
            id="inputPassword"
            class="form-control form-control-sm"
            [(ngModel)]="password"
            placeholder="Password"
            name="password"
            required
          />
        </div>
        <div class="form-group">
          <a
            routerLink="/forgot"
            (click)="gotoForgotPassword()"
            class="forgot-password"
            >Forgot password?</a
          >
        </div>

        <div class="form-group">
          <button class="btn  btn-block custom-btn btn-sm" type="submit">
            LogIn
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<footer id="footer">
  Copyright &copy; LetsDo.
</footer>
